body {
    background-color: lightgray;
    text-align: center;
}

table {
    border: 1px solid blueviolet;
    margin: auto;
    text-align: left;
    width: 600px;
}

th {
    background-color: violet;
    text-align: center;
}

td {
    border-bottom: 1px solid blueviolet; 
}

td span {
    background-color: white;
}

tr:last-child td {
    border-bottom: none;
}

tr:first-child td {
    background-color: white;
}

h2 {
    font-family: monospace;
    color: rgba(89, 0, 255, 0.89);
}

